:root {
    --color-blue: #1f3f73;
    --color-green: #075c48;
    --color-turquoise: #12948e;
}

body {
    margin: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    background-image: url("https://source.unsplash.com/lpjb_UMOyx8");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3 {
    font-family: 'Livvic', sans-serif;
    font-weight: lighter;
}

h2 {
    text-transform: uppercase;
}

h3 {
    margin-bottom: 0;
}

h3>span {
    color: var(--color-blue);
}

.hero {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}

.hero>.title {
    margin: 20vh auto 10vh auto;
    display: inline-block;
    color: white;
    padding: 0.6rem 1rem;
}

.hero>.title>h1 {
    line-height: 1em;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(55, 87, 140, 0.3);
}

.hero>.logos {
    clear: both;
    display: flex;
    justify-content: space-evenly;
}

.hero>.logos>div {
    max-width: 6rem;
    margin-bottom: 20vh;
    background-color: white;
    padding: 1rem;
    border-radius: 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(55, 87, 140, 0.3);
}

.hero>.logos>div>img {
    width: 100%;
}

.wide {
    display: flex;
    justify-content: space-around;
    color: white;
}

.wide>div {
    flex: 1;
}

.wide>.text {
    padding: 5vh 1rem;
}

.wide>#pitch-text {
    background-color: var(--color-blue);
}

.wide>#quote-text {
    background-color: var(--color-turquoise);
}

.wide>#youth-text {
    background-color: var(--color-green);
}

.wide>.image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wide>#pitch-image {
    background-image: url("https://source.unsplash.com/lbLgFFlADrY");
}

.wide>#quote-image {
    background-image: url("https://source.unsplash.com/HR8IqMQNT8M");
}

#title-demands {
    margin: 10vh 0 5vh 0;
    font-size: 1.8rem;
    color: var(--color-blue);
    text-align: center;
}

.demands {
    background-color: #fafdff;
    max-width: 35rem;
    margin: 0 auto;
    padding: 0.5rem 1.7rem 0.1rem 1.7rem;
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(55, 87, 140, 0.3);
}

.demands>p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
