:root {
    --color-white: #fafdff;
    --color-blue-faded: #e8f1fc;

    --color-gce-beige: rgb(243, 235, 223);
    --color-gce-blue-light: rgb(48, 155, 191);
    --color-gce-blue-dark: rgb(15, 55, 98);
    --color-gce-gold: rgb(248, 196, 123);
    --color-gce-green-light: rgb(113, 138, 79);
    --color-gce-green-dark: rgb(47, 81, 52);

    --shadow-blue: 0.1rem 0.1rem 0.5rem rgb(55, 87, 140);
    --shadow-white: 0.1rem 0.1rem 0.5rem rgb(255, 255, 255);
}

body {
    margin: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    background-image: url("https://source.unsplash.com/lpjb_UMOyx8");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3 {
    font-family: 'Livvic', sans-serif;
    font-weight: lighter;
}

h2.title {
    margin: 10vh 0 5vh 0;
    font-size: 2rem;
    text-align: center;
    line-height: 1em;
    text-transform: uppercase;
    color: var(--color-gce-blue-dark);
    text-shadow: var(--shadow-white);
}

h3 {
    margin-bottom: 0;
}

h3>span {
    color: var(--color-gce-blue-dark);
}

a {
    text-decoration: none;
    font-weight: bold;
}

.hero {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 1rem;
}

.hero>img {
    width: 15rem;
}

.hero>.slogan>h2 {
    margin: 3rem 0;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--color-white);
    text-shadow: var(--shadow-blue);
}

.hero>.logos {
    clear: both;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hero>.logos>div {
    flex: 1 0 21%;
    max-width: 5rem;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4rem;
    overflow: hidden;

    background-color: white;
    border: 4px solid var(--color-gce-gold);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero>.logos>div:before {
	content: '';
	padding-top: 100%;
}

.hero>.logos>div>a>img {
    width: 100%;
}

.what {
    display: flex;
    justify-content: space-around;
    color: white;
}

.what>div {
    flex: 1;
}

.what>.text {
    padding: 5vh 1rem;
}

.what>#pitch-text {
    background-color: var(--color-gce-blue-dark);
}

.what>#quote-text {
    background-color: var(--color-gce-beige);
    color: var(--color-gce-blue-dark);
}

.what>#youth-text {
    background-color: var(--color-gce-blue-light);
}

.what>.image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.what>#pitch-image {
    background-image: url("https://source.unsplash.com/lbLgFFlADrY");
}

.what>#quote-image {
    background-image: url("https://source.unsplash.com/HR8IqMQNT8M");
}

.white-box {
    background-color: var(--color-white);
    max-width: 35rem;
    margin: 0 auto;
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(55, 87, 140, 0.3);
    border-radius: 0.3rem;
}

.demands {
    padding: 0.5rem 1.7rem 0.1rem 1.7rem;
}

.demands>p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.who {
    display: flex;
    justify-content: space-around;
    color: white;
}

.who>.logo {
    order: 1;
    flex: 1;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.who>.logo>img {
    max-width: 8rem;
}

.who>.text {
    background-color: var(--color-gce-blue-light);
    padding: 2vh 1.5rem;
    order: 0;
    flex: 3;
}

.who:nth-child(even)>.text {
    background-color: var(--color-gce-blue-dark);
    order: 2;
}

.who>.text>p>a {
    color: white;
}

.who>.text>h3>a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.contact {
    padding: 0.05rem 1rem 1rem 1rem;
}

.contact>p>a {
    color: var(--color-gce-blue-dark);
}

.contact>form>div {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.contact>form>div>input, .contact>form>div>textarea {
    border: none;
    background-color: var(--color-blue-faded);
    border-bottom: 1px solid var(--color-gce-blue-dark);
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.contact>form>div>input {
    flex-grow: 1;
    margin-left: 0.5rem;
}

.contact>form>div>textarea {
    width: 100%;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    font: inherit;
}

.contact>form>button {
    width: 8rem;
    background-color: var(--color-blue-faded);
    border: none;
    border-bottom: 1px solid var(--color-gce-blue-dark);
    border-radius: 0.3rem;
    padding: 0.2rem 0 0.1rem 0;
    font: inherit;
    margin: 0.5rem auto 0 auto;
    display: block;
}

@media screen and (max-width: 30rem) {
    .hero>img {
        width: 12rem;
    }

    .hero>.logos>div {
        max-width: 3.5rem;
        margin: 0.5rem;
    }

    .what {
        display: block
    }

    .what>.image {
        height: 25vh
    }

    .what>.text {
        padding: 0.5rem 1rem;
    }

    #title-demands {
        padding: 1rem;
    }

    .demands {
        box-shadow: none;
    }

    .who {
        display: block;
    }

    .who>.logo {
        height: 15vh;
    }

    .who>.logo>img {
        max-width: 6rem;
    }

    .who>.text {
        padding: 0.5rem 1rem;
    }
}
