body {
    margin: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    background-image: url("https://source.unsplash.com/lpjb_UMOyx8");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}

.hero>.title {
    margin: 20vh auto 10vh auto;
    display: inline-block;
    background-color: white;
    padding: 0.6rem 1rem;
}

.hero>.title>h1 {
    line-height: 1em;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
}

.hero>.logos {
    clear: both;
    display: flex;
    justify-content: space-evenly;
}

.hero>.logos>div {
    max-width: 8rem;
    margin-bottom: 10vh;
    background-color: white;
    padding: 1rem;
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero>.logos>div>img {
    width: 100%;
}
