<html>

<head>
    <title>Generation Climate Europe</title>
</head>

<body>
    <h1>Generation Climate Europe</h1>

    <!-- Logos -->
    {{ range (where .Site.RegularPages "Section" "organizations") }}
    <img src="{{ .Params.logo }}" style="max-width: 100px;" />
    {{ end }}

    <!-- What we do -->
    <h2>What we do</h2>

    <!-- Who we are -->
    <h2>Who we are</h2>
    <ul>
        {{ range (where .Site.RegularPages "Section" "organizations") }}
        <li>
            <img src="{{ .Params.logo }}" style="max-width: 100px;" />
            <b>{{ .Params.title }}</b>
            {{ .Content }}
        </li>
        {{ end }}
    </ul>
</body>

</html>