{{ define "main" }}

<h1>Generation Climate Europe</h1>

<!-- Logos -->
{{ range (where .Site.RegularPages "Section" "organizations") }}
<img src="{{ .Params.logo }}" style="max-width: 100px;" />
{{ end }}

<!-- What we do -->
<h2>What we do</h2>

<p>
    Generation Climate Europe (GCE) is the first environmental coalition of the main youth-led organisations and
    networks active at the European level.
    We work to ensure that the EU always recognises and promotes the interests of young people in Europe.
    We are facing a climate emergency and strong action is required.
    Our diversity is our strength and we have decided to unite to better represent youth in environmental and
    climate change issues at the European levels.
    Our coalition will target all relevant European Union’s bodies.
</p>

<p>
    I have been inspired by the passion, conviction and energy of the millions of our young people ... it is our
    generational duty to deliver for them.
    (U. von der Leyen)
</p>

<p>
    The youngest generation will be the ones most affected by today’s inaction on climate change.
    Young people are eager to commit themselves to create change, but there needs to be more youth engagement at the
    EU level.
</p>

<h2>Our demands for 2019 / 20</h2>
<ul>
    {{ range (where .Site.RegularPages.ByPublishDate "Section" "demands") }}
    <li>
        <b>{{ .Params.title }}</b>
        {{ .Content }}
    </li>
    {{ end }}
</ul>

<!-- Who we are -->
<h2>Who we are</h2>
<ul>
    {{ range (where .Site.RegularPages "Section" "organizations") }}
    <li>
        <img src="{{ .Params.logo }}" style="max-width: 100px;" />
        <b>{{ .Params.title }}</b>
        {{ .Content }}
    </li>
    {{ end }}
</ul>

{{ end }}