<head>
    <title>Generation Climate Europe</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Livvic:300,600|Lora|Open+Sans:300,600&display=swap"
        rel="stylesheet">

    <!-- Primary Meta Tags -->
    <title>Generation Climate Europe</title>
    <meta name="title" content="Generation Climate Europe">
    <meta name="description"
        content="The first European coalition of youth-led organisations to tackle environmental issues.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gceurope.org/">
    <meta property="og:title" content="Generation Climate Europe">
    <meta property="og:description"
        content="The first European coalition of youth-led organisations to tackle environmental issues.">
    <meta property="og:image" content="https://gceurope.org/images/gceurope-opengraph.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://gceurope.org/">
    <meta property="twitter:title" content="Generation Climate Europe">
    <meta property="twitter:description"
        content="The first European coalition of youth-led organisations to tackle environmental issues.">
    <meta property="twitter:image" content="https://gceurope.org/images/gceurope-opengraph.png">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon.ico">
</head>